                              <table>
                                <tr>
                                  <th></th>
                                  <th>Right</th>
                                  <th>Left</th>
                                </tr>
                                <tr>
                                  <td>Sphere</td>
                                  <td><%= prescription.contact.r_sph %></td>
                                  <td><%= prescription.contact.l_sph %></td>
                                </tr>
                                <tr>
                                  <td>Cylinder</td>
                                  <td><%= prescription.contact.r_cyl %></td>
                                  <td><%= prescription.contact.l_cyl %></td>
                                </tr>
                                <tr>
                                  <td>Axis</td>
                                  <td><%= prescription.contact.r_axis %></td>
                                  <td><%= prescription.contact.l_axis %></td>
                                </tr>
                                <tr>
                                  <td>BC</td>
                                  <td><%= prescription.contact.r_bc %></td>
                                  <td><%= prescription.contact.l_bc %></td>
                                </tr>
                                <tr>
                                  <td>Diameter</td>
                                  <td><%= prescription.contact.r_diam %></td>
                                  <td><%= prescription.contact.l_diam %></td>
                                </tr>               
                              </table>